<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-2xl">
    <span class="text-900"
      >Algunos tratamientos son locales, lo que significa que tratan el tumor
      sin afectar al resto del cuerpo,
    </span>
    <p class="text-blue-600">
      La mayoría de las mujeres con cáncer de seno se someterá a algún tipo de
      cirugía para extraer el tumor. Dependiendo del tipo de cáncer de seno y lo
      avanzado que esté, puede que también necesite otro tipo de tratamiento, ya
      sea antes o después de la cirugía, o a veces ambos.
    </p>
  </div>
  <div class="text-700 text-sm mb-6">
    Tratamientos sistémicos. <br /><br />
    Los medicamentos que se usan para tratar el cáncer de seno se consideran
    terapias sistémicas porque pueden alcanzar las células cancerosas en casi
    cualquier parte del cuerpo. Pueden ser administradas por vía oral o
    directamente en el torrente sanguíneo. Dependiendo del tipo de cáncer de
    seno, pueden utilizarse diferentes tipos de tratamiento con medicamentos,
    incluyendo:
  </div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-shield text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 mb-3 font-medium">
        Quimioterapia para el cáncer de seno
      </div>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-shield text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 mb-3 font-medium">
        Terapia hormonal para el cáncer de seno
      </div>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-shield text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 mb-3 font-medium">
        Terapia dirigida para el cáncer de seno
      </div>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-shield text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 mb-3 font-medium">
        Inmunoterapia para el cáncer de seno
      </div>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-shield text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 mb-3 font-medium">
        Tratamiento del cáncer de seno según su etapa
      </div>
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-shield text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 mb-3 font-medium">
        Tratamiento del cáncer de seno durante el embarazo
      </div>
    </div>
  </div>
</div>
