<main class="flex flex-column p-3">
  <p-fieldset legend="¿Qué es el cáncer de mama?" [toggleable]="true">
    <p>
      El cáncer de mama es el crecimiento descontrolado de las células mamarias.
      Para entender mejor el cáncer de mama, debemos entender cómo se desarrolla
      cualquier cáncer. El cáncer es el resultado de mutaciones, o cambios
      anómalos, en los genes que regulan el crecimiento de las células y las
      mantienen sanas. Los genes se encuentran en el núcleo de las células, el
      cual actúa como la “sala de control” de cada célula.
    </p>
  </p-fieldset>

  <article class="grid mt-2 p-3 gap-3">
    <div class="sm:col-12 md:col shadow-3 h-20rem border-round bg-white"></div>
    <div class="sm:col-12 md:col shadow-3 h-20rem border-round bg-white"></div>
    <div class="sm:col-12 md:col shadow-3 h-20rem border-round bg-white"></div>
  </article>
</main>
